<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Future Error page</title>
    <link href='https://fonts.googleapis.com/css?family=Nova Mono' rel='stylesheet'>
    <style>
    body {
    height: 100%;
    width: 100%;
    font-family: 'Nova Mono';font-size: 22px;
    color: orange;
    background-color: #00384d;
    }
    </style>
</head>
<body>
    <p>This will be the default error page.</p>
    <span th:text="'Error message: ' + ${error_message}"></span>
    <span th:text="'Hello. ' + ${message}"></span>
</body>
</html>