<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>airq app</title>
    <link href='https://fonts.googleapis.com/css?family=Nova Mono' rel='stylesheet'>
    <style>
        body {
            height: 100%;
            width: 100%;
            font-family: 'Nova Mono';font-size: 22px;
            color: orange;
            background-color: #00384d;
        }
        td {
            min-width: 100px;
        }
        .color-green{
            color:green;
        }
        .color-red{
            color:red;
        }
    </style>
</head>
<body>
    <h2>
        <span th:text="'Hello. ' + ${message}"></span>
    </h2>

     <table>
        <thead>
        </thead>
        <tr th:if="${VALUES.empty}">
            <td colspan="2"> No data available </td>
        </tr>
        <tr th:each="value : ${VALUES}">
            <td><span th:text="${value.key}"> key </span></td>
            <td><span th:text="${#numbers.formatDecimal(value.value,0,'COMMA',2,'POINT')} + ' ug/m3'"
                      th:classappend="${value.value}<50 and ${value.value}>=0 ? color-green : color-red"> value </span></td>
        </tr>
    </table>
</body>
</html>